* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =========== Common =========== */

.content {
    width: 1170px;
    max-width: calc(100% - 68px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 8px;
    line-height: 50px;
    background: #171100;
    text-align: center;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* =========== Header =========== */
.header {
    background-color: #fffcf4;
    padding-top: 36px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}

.navbar ul a:hover,
.navbar ul li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar ul li.active a::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .action {
    margin-left: 54px;
}

.navbar .action .btn {
    min-width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    text-decoration: none;
}

/* =========== Hero =========== */
.hero {
    padding: 56px 0 64px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}

.hero-img {
    width: 48%;
    position: relative;
}

.hero-img .image {
    margin-left: auto;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-img .image-info {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px 24px;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-img .image-info .item {
    display: flex;
    align-items: center;
}

.hero-img .item + .item {
    margin-top: 22px;
}

.hero-img .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-img .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-img .item-info {
    margin-left: 16px;
}

.hero-img .item-info .item-title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-img .item-info .item-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-info {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero-info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-info .desc {
    margin: 22px 0px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta .hero-button {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 32px;
    color: #ffffff;
}

.hero-cta .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.hero-cta .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-cta .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-info .engagement {
    margin-top: 48px;
}

.hero-info .engagement .sub-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-info .engagement .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-info .engagement .desc strong {
    padding-right: 8px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero-info .engagement .desc strong + strong {
    padding-left: 28px;
}

/* =========== Popular =========== */
.popular {
    margin-top: 200px;
}

.popular header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular header .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular header .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .skip {
    display: flex;
}

.popular .skip button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid #ffb900;
}

.popular .skip button:hover {
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

.popular .skip .next-page {
    margin-left: 18px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.popular .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .list .item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .list .item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .item .body {
    padding: 16px 22px 22px;
}

.popular .item header {
    justify-content: stretch;
}

.popular .item .sub-tile a {
    padding-right: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .item .star {
    margin-left: auto;
}

.popular .item .point {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.popular .item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .item .price {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .price strong {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .item .price-btn {
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
}

.popular .item:hover .price-btn {
    background: #ffb900;
}
