* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =========== Common =========== */

.content {
    width: 1170px;
    max-width: calc(100% - 68px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 8px;
    line-height: 50px;
    background: #171100;
    text-align: center;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* =========== Header =========== */
.header {
    background-color: #fffcf4;
    padding-top: 36px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar ul a {
    position: relative;
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
}

.navbar ul a:hover,
.navbar ul li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar ul li.active a::after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.navbar .action {
    margin-left: 54px;
}

.navbar .action .btn {
    min-width: 144px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    text-decoration: none;
}

/* =========== Hero =========== */
.hero {
    padding: 56px 0 64px;
    background-color: #fffcf4;
}
.hero .body {
    display: flex;
}

.hero-img {
    width: 48%;
    position: relative;
}

.hero-img .image {
    margin-left: auto;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-img .image-info {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px 24px;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-img .image-info .item {
    display: flex;
    align-items: center;
}

.hero-img .item + .item {
    margin-top: 22px;
}

.hero-img .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-img .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-img .item-info {
    margin-left: 16px;
}

.hero-img .item-info .item-title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-img .item-info .item-name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-info {
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero-info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-info .desc {
    margin: 22px 0px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta .hero-button {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 32px;
    color: #ffffff;
}

.hero-cta .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.hero-cta .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-cta .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-info .engagement {
    margin-top: 48px;
}

.hero-info .engagement .sub-title {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-info .engagement .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-info .engagement .desc strong {
    padding-right: 8px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero-info .engagement .desc strong + strong {
    padding-left: 28px;
}

/* =========== Popular =========== */
.popular {
    margin-top: 200px;
}

.popular header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular header .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular header .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular .skip {
    display: flex;
}

.popular .skip button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    background-color: transparent;
    border: 1px solid #ffb900;
}

.popular .skip button:hover {
    background: var(--primary-color);
    color: #ffffff;
    cursor: pointer;
}

.popular .skip .next-page {
    margin-left: 18px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.popular .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .list .item {
    flex: 1;
    background: #ffffff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular .list .item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .item .body {
    padding: 16px 22px 22px;
}

.popular .item header {
    justify-content: stretch;
}

.popular .item .sub-tile a {
    padding-right: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .item .star {
    margin-left: auto;
}

.popular .item .point {
    margin-left: 6px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.popular .item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular .item .price {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .price strong {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.popular .item .price-btn {
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
}

.popular .item:hover .price-btn {
    background: #ffb900;
}
/* =========== Feedback =========== */
.feedback {
    margin-top: 200px;
    background: #2e2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .name {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .role {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .dots {
    display: flex;
    margin-top: 28px;
}

.feedback .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.feedback .desc {
    width: 66%;
    margin-left: auto;
}

.feedback blockquote {
    margin-left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}
/* =========== Feature =========== */
.feature {
    margin-top: 200px;
}

.feature-top {
    display: flex;
}

.feature-top .images {
    display: flex;
    gap: 30px;
}

.feature-top .image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.feature-top .image:first-child {
    margin-top: 34px;
}

.feature-top .info {
    padding-left: 130px;
    margin: auto 0;
}

.feature-top .title,
.feature-bot .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.feature-top .desc,
.feature-top .sub-title,
.feature-bot .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.feature-btn {
    margin-top: 32px;
    min-width: 137px;
    background: #ffb900;
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
}

.feature-bot {
    margin-top: 200px;
    display: flex;
}

.feature-bot .info {
    margin: auto 0;
}

.feature-bot .image {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 130px;
}

/* =========== Blog =========== */
.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog-top {
    width: 38%;
    margin: 0 auto;
    text-align: center;
}

.blog-top .title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog-top .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #696262;
}

.blog-list {
    display: flex;
    margin-top: 55px;
    gap: 0 30px;
    overflow: hidden;
}

.blog-item {
    width: calc(33% - 20px);
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 16px;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .info {
    padding: 20px 20px 28px;
}

.blog-item .info .date {
    padding-bottom: 12px;
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog-item .info .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-item .info .date::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    width: 120%;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-item .info .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog-item .blog-btn {
    margin-top: 12px;
    background-color: #171100;
    font-weight: 600;
    font-size: 1.4rem;
    color: #ffffff;
}

.blog-item .blog-btn:hover {
    background-color: var(--primary-color);
}

.blog .dots {
    display: flex;
    margin-top: 38px;
    gap: 6px;
    justify-content: center;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background-color: var(--primary-color);
}
